{% extends "base.html.twig" %}

{% block title %}
    Movies Page
{% endblock %}

{% block body %}
    {{ author }}
    {% for movie in movies %}
        <h1>{# movie #}</h1>
    {% endfor %}
{% endblock %}
