{% extends "base.html.twig" %}

{% block title %}
    <h1>Movies</h1>
{% endblock %}

{% block body %}
    <h1 class="">Movies</h1>
    {{ author }}
    {% for movie in movies %}
        <h1>{# movie #}</h1>
    {% endfor %}
{% endblock %}
